name: Check typos and ruff
on:
  pull_request:
    branches: ["main"]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Ruff
        uses: astral-sh/ruff-action@v3
        with:
          version-file: pyproject.toml

      - name: typos
        uses: crate-ci/typos@v1.34.0
